# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules/

# Production build
dist/
dist.zip

# Environment & OS files
.DS_Store
.env
.env.local
hostinger-upload.zip
2026-27/
*.zip
PKT-Palava-Kalibari-Trust.html
